html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	background: #fff;
}

strong,
b {
	font-weight: 800;
}

a {
	text-decoration: none;
}

.container-full {
	padding: 0 15px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	background: #196d43;
	height: 100px;
}

.header .container {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .icon-bg {
	width: 100%;
	height: 9px;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fill;
}

.header .logo {
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .logo span {
	position: relative;
	z-index: 2;
}

.header .feedback-btn {
	width: 120px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1c5438;
}

.header .feedback-btn img {
	width: 28px;
	height: 28px;
}

.header .feedback-btn span {
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	margin-top: -2px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60px;
	background-color: #1c5438;
	margin-top: -30px;
	position: relative;
	z-index: 3;
}

.navigation .icon-bg {
	width: 100%;
	height: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	object-fit: fill;
}

.navigation .icon-star {
	position: absolute;
	width: 27px;
	top: -10px;
	right: -10px;
	opacity: 0.15;
}

.navigation a {
	color: #fff;
	font-size: 15px;
	position: relative;
	height: 24px;
	line-height: 24px;
	font-weight: 600;
	overflow: hidden;
	display: block;
	box-sizing: border-box;
	padding-bottom: 5px;
}

.navigation a.active {
	color: #27bb0a;
}

.navigation a span {
	transition: 0.3s;
	position: relative;
	height: 24px;
	line-height: 24px;
	display: inline-block;
}

.navigation a span::before {
	color: #27bb0a;
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
}

.navigation a:hover {
	transition: 0.3s;
}

.navigation a:hover span {
	transition: 0.3s;
	transform: translateY(-100%);
}

.content-container {
	margin-top: -30px;
	position: relative;
}

.content-container .content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: #fff;
	position: relative;
}

.content-container .breadcrumb-box {
	position: absolute;
	top: 0;
}

.content-container .image {
	padding: 120px 15px 50px 15px;
	width: 30%;
	/*height: 400px;*/
	object-fit: cover;
	box-sizing: content-box;
}

.content-container .content-text {
	padding: 120px 15px 50px 15px;
	background-color: #fff;
	min-height: 500px;
	box-sizing: content-box;
	flex: 1;
}

.content-container .content-text p {
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 25px;
}

.footer {
	background: #196d43;
	position: relative;
	padding-top: 80px;
}

.footer .icon-bg {
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.footer .friendly-warp {
	display: grid;
	line-height: 30px;
	padding: 0 15px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .friendly-warp a {
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	transition: 0.3s;
	display: flex;
	align-items: center;
}

.footer .friendly-warp a:hover {
	letter-spacing: 1px;
	letter-spacing: 1px;
}

.footer .friendly-warp .icon-next {
	width: 17px;
	height: 17px;
	opacity: 0.7;
	margin-right: 3px;
}

.footer-end {
	margin-top: 40px;
	text-align: center;
	background-color: #1c5438;
	padding: 20px 0;
}

.footer-end a,
.footer-end span {
	font-size: 14px;
	color: #fff;
	opacity: 0.7;
	line-height: 22px;
}

.contact {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fff;
}

.contact .main-title {
	text-align: left !important;
	margin-bottom: 35px;
}

.main-title {
	max-width: 500px;
	margin: 0;
	margin-bottom: 60px;
	text-align: center;
	position: relative;
}

.main-title h2 {
	font-size: 25px;
	color: #196d43;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.main-title h3 {
	font-size: 30px;
	color: #323232;
	font-weight: 700;
	letter-spacing: -1px;
	line-height: 1.3;
	text-transform: capitalize;
}

.contact .contact-content {
	background: #f7f6f6;
	padding: 50px 100px;
	padding-bottom: 0;
	box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
	position: relative;
	z-index: 3;
	overflow: hidden;
}

.contact .contact-content:after {
	content: "";
	position: absolute;
	right: -218px;
	z-index: -1;
	top: 0;
	width: 70%;
	height: 200%;
	background: #196d43;
	transform: rotate(35deg);
}

.contact .contact-form {
	position: relative;
}

.contact .contact-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.contact .contact-form .form-group .form-control {
	background-color: #fff;
	color: #777676;
	border: 0;
	border-left: 4px solid #196d43;
	outline: none;
	box-shadow: none;
	border-radius: 0;
	height: 46px;
	padding: 12px;
	width: 450px;
}

.contact .contact-form .form-group .form-control::placeholder {
	color: #888;
}

.contact .contact-form .form-group textarea.form-control {
	height: 120px;
	resize: none;
	padding-top: 18px;
}

.contact .contact-form .form-group label {
	position: absolute;
	top: 13px;
	left: 12px;
	width: 100%;
	margin-bottom: 0;
	font-weight: 400;
	cursor: text;
	color: #888;
	font-size: 15px;
}

.contact .contact-form .form-group .form-control:focus~label,
.contact .contact-form .form-group input:not([value=""])~label,
.contact .contact-form .form-group textarea:not([data-value=""])~label {
	top: -16px;
	left: 0;
	font-size: 14px;
	letter-spacing: .5px;
	font-weight: 500;
}

.contact .contact-form .form-group .form-control:focus~label {
	color: #196d43;
}

.contact .contact-form .form-group .input-border {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #196d43;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.contact .contact-form .form-group .form-control:focus~.input-border {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.contact .contact-form .contact-btn {
	margin: 0;
	margin-bottom: 50px;
}

.contact .contact-form .form-message {
	position: absolute;
	left: 0;
	bottom: 1px;
	width: 100%;
	color: #fff;
	border-radius: 5px;
	font-size: 15px;
	padding: 12px;
	text-transform: uppercase;
}

.contact .contact-form .form-message.success {
	background-color: #196d43;
}

.contact .contact-form .form-message.error {
	background-color: #f54033;
}

.contact .contact-img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.main-btn {
	position: relative;
	background: #196d43;
	color: #fff;
	min-width: 150px;
	border-radius: 0 30px 30px;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1.1px;
	text-align: center;
	padding: 12px 20px;
	border: 2px solid #196d43;
	outline: none;
	cursor: pointer;
	margin-right: 14px;
	overflow: hidden;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.main-btn span {
	position: relative;
	z-index: 2;
}

.main-btn:before {
	content: '';
	background-color: #196d43;
	position: absolute;
	top: 0;
	left: -25%;
	height: 104%;
	width: 0;
	-webkit-transform: skew(-22deg);
	-moz-transform: skew(-22deg);
	-ms-transform: skew(-22deg);
	-o-transform: skew(-22deg);
	transform: skew(-22deg);
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	z-index: 1;
}

.main-btn:hover:before {
	width: 190%;
}

.main-btn:hover,
.custom-btn:hover {
	border: 2px solid #196d43;
}


@media (max-width: 1300px) {}

@media (max-width: 1200px) {
	.container {
		width: auto;
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (max-width: 970px) {
	.footer .friendly-warp {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 800px) {
	.navigation {
		display: block;
		position: fixed;
		top: 0px;
		left: 0;
		transition: 0.3s;
		width: 0;
		height: 0;
		transform: translateX(150vw);
		overflow: scroll;
		z-index: 113;
		background: none;
	}

	.navigation.active {
		width: 100vw;
		height: calc(100vh);
		transition: 0.3s;
		background-color: #fff;
		transform: translateX(0vw);
		box-sizing: content-box;
		padding: 80px 0 20px 40px;
		box-shadow: 3px 20px 10px 10px rgba(0, 0, 0, 0.084);
	}

	.navigation a {
		color: #232323;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.header .feedback-btn {
		display: none;
	}

	#icon-menu {
		position: absolute;
		right: 15px;
		top: 20px;
		width: 35px;
		height: 35px;
		background: #06582f;
		display: flex;
		z-index: 1000;
		align-items: center;
		justify-content: center;
	}

	#icon-menu::before {
		content: 'Ⅲ';
		font-size: 26px;
		color: #fff;
		transition: 0.3s;
		transform: rotate(90deg);
	}

	#icon-menu.active::before {
		transition: 0.3s;
		content: 'Ⅹ';
		transform: rotate(0deg);
	}

	.content-container .image {
		padding: 20px;
		width: auto;
		max-width: 100%;
		display: block;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.content-container .content-text {
		padding-top: 20px;
	}

	.content-container .content {
		flex-direction: column;
	}

	.footer .friendly-warp {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 640px) {
	.header .logo {
		font-size: 16px;
	}

	.header {
		height: 80px;
	}

	.header .container {
		height: 57px;
	}

	#icon-menu {
		top: 15px;
		width: 24px;
		height: 24px;
		right: 10px;
	}

	#icon-menu::before {
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.footer .friendly-warp {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 380px) {
	.header .logo {
		font-size: 14px;
	}
}

@media (max-width: 350px) {}